# PyCharm
.idea/

# vscode
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# No plugins, except for the example file
!paletti/plugins/
paletti/plugins/*
!paletti/plugins/_example_plugin/

# Private notes etc.
dev-local/
test.py

# No locally generated docs
docs/
!docs/source
