# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# No plugins, except for the example file
plugins/
!plugins/_example_plugin.py

# Private notes etc.
dev-local/